.signInPage{
    max-width: 300px;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.loginLogo{
    position: fixed;
    left: 0;
    top: 0;
    width: 100px;
    object-fit: contain;
    padding-left: 20px;
}

.form{
    background: rgba(0,0,0,0.8);
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    z-index: 1;
    width: 40%;
    color: white;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 15px;
}


.signInPageBGImage{
    position: relative;
    height: 100vh;
    background: url("https://tk.media/storage/uploads/undefined/content/2019/11/undefined_187_20191115095449.jpg") center no-repeat;
    background-image: linear-gradient(
        to top,
        rgba(0,0,0,0.8)0,
        rgba(0,0,0,0)60%,
        rgba(0,0,0,0.8)100%,
    )
}

.signInPage > form{
    display: grid;
    flex-direction: column;
}

.signInPage > form> input{
    padding: 5px 15px;
    outline-width:0;
    height: 30px;
    margin-bottom: 14px;

}

.signInPage > form> h1{
    color: white;
    margin-bottom: 30px;
    margin-top: -30px;
}

.signInPage > form> h4{
    text-align: left;
    margin-top: 30px;
    cursor: pointer;
}

.link{
    color: white;
}


.link:hover{
    text-decoration: underline;
}

.span{
    color: gray;
}

.signInPage > form> button{
    color: white;
    padding: 16px 20px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: red;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}